.priorities-articles {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
        width: auto;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        width: auto;
        margin-left: 0;


        @media screen and (min-width: $desktop) {
            width: 100%;
            margin-left: 30px;
        }

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            max-width: 354px;
            width: 100%;
        }

        &:not(:last-child) {
            @media screen and (max-width: $mobile) {
                margin-bottom: 30px;
            }
        }
    }

    &__item-header {
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        margin: 0 0 10px 0;
        text-align: center;

        @media screen and (min-width: $tablet) {
            text-align: left
        }
    }

    &__item-text {
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $gray;
    }

    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $light-gray-2;
        border-radius: 4px;
        margin-bottom: 30px;
        height: 120px;
        max-width: 450px;
        width: 100%;

        @media screen and (min-width: $tablet) and (max-width: $desktop) {
            max-width: 354px;
        }

        @media screen and (min-width:$desktop) {
            width: 270px;
            max-width: none;
        }
    }


}