.clients {
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        @media screen and (max-width:480px) {}
    }

    &__item {
        @media screen and (max-width:480px) {
            width: calc((100% - 1 * 30px) / 2);
        }
    }

    &__link {
        display: block;
        border-radius: 4px;
        border: 1px $gray-2 solid;
        height: 92px;
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        transition-property: border;

        &:hover {
            border: 1px $blue solid;

            .clients__icon {
                fill: $blue;
            }
        }

        &:focus {
            border: 1px $blue solid;

            .clients__icon {
                fill: $blue;
            }
        }

        @media screen and (max-width:480px) {
            margin: 0;
            width: 100%;
        }
    }

    &__icon {
        fill: $gray-2;
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }
}