.modal-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    &__text {
        line-height: 1.7;
        letter-spacing: .03em;
        color: $gray;
        user-select: none;
        font-size: 12px;

        @media screen and (max-width: $desktop) {
            font-size: 14px;
        }
    }

    &__text-link {
        color: $blue;
        text-decoration: none;
        border-bottom: 1px $blue solid;
    }
}