.modal {
    width: 450px;
    height: 609px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    position: relative;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform $transition, visibility $transition,
        opacity 400ms ease-in-out 200ms;

        @media screen and (min-width: $desktop) {
            width: 528px;
            height: 581px;
        }

    &__header {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: .03em;
        color: $darkest-gray;
        margin-bottom: 12px;
    }

    &__submit-btn {
        background-color: $blue;
        color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: .06em;
        padding: 10px 52px;
        text-align: center;
        transition: background-color $transition;

        &:hover {
            background-color: $dark-blue;
        }

        &:focus {
            background-color: $dark-blue;
        }
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9) rotate(50deg);
}

.close-modal-btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;

    &:hover {
        .close-icon {
            fill: $blue;
        }
    }
}

.close-icon {
    display: block;
    fill: black;
    transition: fill $transition;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-form-group {
    width: 100%;
    margin-bottom: 30px;
}