.team-section {
    background-color: $light-gray;
}

.team {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        flex-wrap: wrap;

    }

    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.team-card {
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;

    @media screen and (min-width: $tablet) {
        max-width: 354px;
    }

    @media screen and (min-width: $desktop) {

        max-width: 354px;
    }


    &__text {
        padding: 30px 24px;

        @media screen and (min-width:$desktop) {
            padding: 30px 0;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 1.18;
        font-weight: 500;
        margin: 0 0 10px 0;
    }

    &__profession {
        color: $gray;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 16px;
    }

    @media screen and (max-width:480px) {
        width: 100%;
        max-width: 450px;

    }
}