.team-section {
    background-color: $light-gray;
}

.team {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:480px) {
        width: 100%;
        flex-wrap: wrap;
    }
}

.team-card {
    margin-left: 30px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;

    &:first-of-type {
        margin-left: 0;
    }

    &__text {
        padding: 30px 0;

        @media screen and (max-width:480px) {
            padding: 30px 24px;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 1.18;
        font-weight: 500;
        margin: 0 0 10px 0;
    }

    &__profession {
        color: $gray;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 16px;
    }

    @media screen and (max-width:480px) {
        width: 100%;
        max-width: 450px;
        margin-left: 0;
    }

    &:not(:last-of-type) {
        @media screen and (max-width:480px) { 
            margin-bottom: 30px;
        }
    }
}
